{% extends 'base.html.twig' %}

{% block title %}Mes factures{% endblock %}

{% block body %}

    <h4>Mes factures</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Film</th>
                    <th scope="col">Date de paiement</th>
                    {# <th scope="col">Moyen de paiement</th> #}
                    <th scope="col">PDF</th>
                    {# <th scope="col">Action</th> #}
                </tr>
            </thead>
            <tbody>
                {% for paiement in paiements %}
                <tr>
                    <td>{{ paiement.film.titre }}</td>
                    <td>{{ paiement.datePaiement|date('d/m/Y') }}</td>
                    {# <td>{{ paiement. }}</td> #}
                    <td>
                        <a href="{{ path('factures', { id:paiement.id}) }}" ><i class="far fa-file-pdf"></i></a> 
                        {# <a href="{{ path('factures', { id:paiement.id}) }}" download><i class="fas fa-download"></i></a> #}
                    </td>
                    {# <td></td> #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}