{% extends 'base.html.twig' %}

{% block title %}Tous nos Genres{% endblock %}

{% block body %}

    <h1>Les Genres</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Membre</th>
                    <th scope="col">Sujet</th>
                    <th scope="col">Message</th>
                    <th scope="col">Date de l'email</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for email in emails %}
                <tr>
                    <th>{{ email.id }}</th>
                    <td>{{ email.membre.pseudonyme }}</td>
                    <td>{{ email.sujetEmail }}</td>
                    <td>{{ email.message }}/5</td>
                    <td>{{ email.dateEmail }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {# <div>
        <a href="{{ path('nouveau_film', { id: 'nouveau' }) }}" class="btn btn-sm btn-outline-success float-right">
            Ajouter un film
        </a>
    </div> #}

{% endblock %}