{% extends "base.html.twig" %}

{% block title %}Exercice twig{% endblock %}

{% block body %}

    <div class="mb-4">
        <a href="{{ path('twig') }}"><-- Retour</a>
    </div>

    <div class="border p-3">
        <h4>1) Liste de toutes les personnes</h4>

        {% for personne in personnes %}
            <p>
                <b>{{ personne.nom }} {{ personne.prenom }}</b>
                ({{ personne.statut }}),
                <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
            </p>
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>2) Uniquement les membres de la famille Dupont</h4>

        {% for personne in personnes %}
            {% if personne.nom == 'Dupont' %}
                <p>
                    <b>{{ personne.nom }} {{ personne.prenom }}</b>
                    ({{ personne.statut }}),
                    <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>3) Les 3 premières lignes, les noms de famille en majuscule</h4>

        {% for personne in personnes %}
            {% if loop.index <= 3 %}
                <p>
                    <b>{{ personne.nom|upper }} {{ personne.prenom }}</b>
                    ({{ personne.statut }}),
                    <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>4) Ceux nés après 1950</h4>

        {% for personne in personnes %}
            {% if personne.naissance|date('Y') > 1950 %}
                <p>
                    <b>{{ personne.nom|upper }} {{ personne.prenom }}</b>
                    ({{ personne.statut }}),
                    <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>5) Du plus vieux au plus jeune</h4>

        {% for personne in personnes|sort((a, b) => a.naissance <=> b.naissance) %}
            <p>
                <b>{{ personne.nom }} {{ personne.prenom }}</b>
                ({{ personne.statut }}),
                <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
            </p>
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>6) Première ligne en bleu, dernière ligne en rouge</h4>

        {% for personne in personnes %}
            <p class="{{ loop.first ? 'text-primary' }}{{ loop.last ? 'text-danger' }}">
                <b>{{ personne.nom }} {{ personne.prenom }}</b>
                ({{ personne.statut }}),
                <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
            </p>
        {% endfor %}
    </div>

    <div class="border p-3 mt-4">
        <h4>7) Sauter une ligne toutes les 2 lignes</h4>

        {% for personne in personnes %}
            <p>
                <b>{{ personne.nom }} {{ personne.prenom }}</b>
                ({{ personne.statut }}),
                <i>date de naissance : {{ personne.naissance|date('d/m/Y') }}</i>
            </p>
            {% if loop.index is even %}
                <br>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
