{% extends 'base.html.twig' %}

{% block title %}TWIG !{{ parent() }}{% endblock %}

{% block body %}

    {# IMAGE #}
    <div>
        <img src="{{ asset('images/logo-twig.png') }}" alt="">
    </div>

    {# FILTRES PERSONNALISÉS #}
    <div class="mb-3">
        Cet article côute {{ prix|euros }}
        <br><br>
        Cet article côute {{ prix|price('us') }} <br>
        Cet article côute {{ prix|price('fr') }} <br>
    </div>

    {# ODD / EVEN #}
    {% if 3 is odd %}
        OUI
    {% else %}
        NON
    {% endif %}
    <br><br>

    {# DATE #}
    <h3>Nous sommes le {{ date|date('d/m/Y') }}</h3>

    {# LENGTH / JOIN #}
    <h4>Les {{ users|length }} utilsateurs s'appellent {{ users|join(', ', ' et ')|title }}</h4>

    {# FOR / IF / ELSEIF / ELSE / AND / OR #}
    {% for user in users %}

        L'utilisateur s'appelle {{ user|title }}

        {% if user == 'victor' or user == 'john' %}
            , c'est moi.
        {% else %}
            , c'est pas moi.
        {% endif %}

        <br>
    {% endfor %}

    {# PATH #}
    <div class="text-right">
        <a href="{{ path('twig_exercice') }}" class="btn btn-primary">Exercice</a>
    </div>

{% endblock %}

