{% extends 'base.html.twig' %}

{% block title %}Titre de mon article{% endblock %}

{% block body %}

    <div>
        <a href="{{ path('blog') }}">< Retour à la liste</a>
    </div>

    <h1>{{ article.title }}</h1>
    <div class="mb-5">
        Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.author }}
        - {{ article.views }} vues
    </div>

    <p>{{ article.text|nl2br }}</p>

{% endblock %}
