{% extends 'base.html.twig' %}

{% block title %}Mon blog!{% endblock %}

{% block body %}

    <a href="{{ path('blog_article_new', { id: 'nouveau' }) }}" class="btn btn-sm btn-outline-primary float-right">
        Nouvel article
    </a>

    <h1>Liste des articles</h1>

    <div class="mt-5">
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 col-lg-3">
                    <div class="card">
                        {% if article.image %}
                            <img src="{{ asset(uploads_base_url ~ article.image) }}" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <div class="small">{{ article.views }} vues</div>
                            <p class="card-text">{{ article.text|slice(0,100) }}</p>
                            <a href="{{ path('article', { id: article.id }) }}" class="btn btn-primary">Lire</a>
                            <a href="{{ path('blog_article_new', { id: article.id }) }}" class="btn btn-outline-info">Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
