<div class="col-md-4 col-lg-3">
    <div class="card" style="width: 250px; height: 700px;">
        {% if film.image %}
            <img src="{{ asset(film.image) }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ film.titre }}</h5>
            <div class="small">{{ film.vus }} vues</div>
            <div class="small">Note : {{ film.notefilm }} /10</div>
            <div class="small">Prix : {{ film.prix }} €</div></br>
            <p class="card-text">{{ film.description|slice(0,80) }}</p>
            <a href="{{ path('article', { id: film.id }) }}" class="btn btn-primary">Voir</a></br>
            

            {% if is_granted(constant('App\\Security\\Voter\\ArticleVoter::UPDATE'), film) %}
                <a href="{{ path('blog_article_new', { id: film.id }) }}" class="btn btn-outline-info">Modifier</a>
            {% endif %}
        </div>
    </div>
</div>
