<div class="col-md-4 col-lg-3">
    <div class="card">
        {% if film.image %}
            <div class='card_image_mise_en_forme'>
                <a href="{{ path('film', { id: film.id }) }}"><img src="{{ asset(film.image) }}" class="card-img-top card_image" alt="{{ film.titre|slice(0,40) }}"></a>
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ film.titre|slice(0,40) }}</h5>
            <div class="small">Genre : 
                {% for genre in film.genre %}
                        {{ genre.genre }},
                {% endfor %}
            </div>
            <div class="small">Date de sortie : {{ film.dateDeSortie|date('d/m/Y') }}</div>
            <div class="small">{{ film.vus }} Vues</div>
            <div class="small">Note : {{ film.notetotal / film.nbnotes }} / 5 (sur {{ film.nbnotes }} notes)</div>
            <div class="small">Prix : {{ film.prix }} €</div></br>
            <p class="card-text">{{ film.description|slice(0,80) }}</p>
            <a href="{{ path('film', { id: film.id }) }}" class="btn btn-primary card_bouton_voir">Voir</a>
            

            {% if is_granted(constant('App\\Security\\Voter\\FilmVoter::UPDATE'), film) %}
                <a href="{{ path('nouveau_film', { id: film.id }) }}" class="btn btn-outline-info">Modifier</a>
            {% endif %}
        </div>
    </div>
</div>
